
run = "npm run dev & (cd Server && node server.js)"
modules = ["nodejs-20", "postgresql-16"]
hidden = [".config", "package-lock.json"]
entrypoint = "server.js"

[env]
PORT = "3000"

[[hints]]
regex = "Error: "
message = "Oops! There was an error"

[nix]
channel = "stable-22_11"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 3000
externalPort = 3003

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 5175
externalPort = 3001

[[ports]]
localPort = 5176
externalPort = 3002
